.slider {
    display: flex;
    width: 100%;
    --rotation: 60deg;
    --translation: 35%;
    --brightness: 40%;
    --height: 150px;
}

.slider-list {
    position: relative;
    display: block;
    transform-style: preserve-3d;
    perspective: 500px;
    margin: 0px;
    padding: 2%;
    text-align: center;
    flex-basis: 70%;
    z-index: 0;
}

.slider-arrow {
    display: flex;
    flex-basis: 15%;
    justify-content: center;
    align-items: center;
    font-size: 3em;
}

.slider-item {
    height: 130%;
    position: relative;
    right: 0;
    top: 0;
    list-style: none;
    display: inline-block;
    margin: 0px;
    padding: 0px;
    transition: all 0.5s ease-in-out, filter 1s ease-in-out;
}

.slider-item:not(.slider-item-center) {
    filter: brightness(var(--brightness));
}

.slider-item-right {
    transform: rotateY(calc(var(--rotation)*-1));
}

.slider-item-left {
    transform: rotateY(var(--rotation));
} 

.slider-item-center {
    transform: rotateY(0) scale(2);
}

.slider-item-content {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.slider-item:not(.slider-item-center)>.slider-item-content {
    cursor: pointer;
}

.slider-item:not(.slider-item-center):hover {
    filter: none;
    top: -10%;
}

.slider-item:not(.slider-item-center):hover::after {

    --thiccness: 10px;

    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: calc(-1 * var(--thiccness));
    left: calc(-1 * var(--thiccness));
    border: solid yellow var(--thiccness);
    z-index: -1;
}

@media only screen and (max-width: 900px) {

    .slider-item {
        height: 150%;
    }
}